[submodule "dtoa/dtoa-benchmark"]
	path = dtoa/dtoa-benchmark
	url = git@github.com:miloyip/dtoa-benchmark.git
[submodule "trace/libbacktrace"]
	path = trace/libbacktrace
	url = https://github.com/ianlancetaylor/libbacktrace
